<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hive Frontend Builder</title>
    <link rel="stylesheet" href="style.css">
</head>
<body id="iau9">
    <div id="ibal" class="navbar">
      <div data-gjs="navbar" id="iyfg" class="navbar-container">
        <div id="i4k1" class="navbar-burger">
          <div id="i7oxu" class="navbar-burger-line"></div>
          <div id="iml4s" class="navbar-burger-line"></div>
          <div id="i2wal" class="navbar-burger-line"></div>
        </div>
        <div data-gjs="navbar-items" class="navbar-items-c">
          <nav id="ini0f" class="navbar-menu"><a href="/index.html" id="iea3u" class="navbar-menu-link">Home</a><a
              href="/editor.html" id="iryd3" class="navbar-menu-link">Editor</a></nav>
        </div>
      </div>
    </div>
    <section id="i346d" class="gjs-section">
      <div class="gjs-container">
        <h1 id="ij4ur" class="gjs-heading">Hive Frontend Builder</h1>
        <div id="iliaa" class="gjs-divider"></div>
        <h1 id="iw9wi" class="gjs-heading">A CMS to vustom design your Hive Community</h1>
      </div>
    </section>
    <section id="if69y" class="gjs-section">
      <div class="gjs-container">
        <div id="iddcf" class="gjs-grid-row">
          <div id="imy3e" class="gjs-grid-column">
            <h1 id="is1rx" class="gjs-heading">Drag and Drop Interface</h1>
            <div id="ikvih">Everyone regardless of their technical or coding knowledge can create a custom frontend for
              their Hive Community all around their brand or niche.</div>
          </div>
          <div class="gjs-grid-column"><img id="i0fg6" src="https://grapesjs.com/assets/images/grapesjs-front-page-m.jpg"/>
          </div>
        </div>
      </div>
    </section>

    <!-- Include HTMX -->
    <script src="https://unpkg.com/htmx.org"></script>

    <!-- Dynamic Content Trigger -->
    <h2 hx-get="/dynamic-content" hx-trigger="click" hx-target="#dynamic-content" style="cursor: pointer;">Click me for dynamic content</h2>
    <div id="dynamic-content"></div>

</body>
</html>
